<!--
Trang Luu
20 Apil 2019
Dating Website/ HTML Home page
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Dating Website</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="styles/style.css">

</head>
<body>
<h3>My Dating Website <a href="admin">Admin</a></h3>
<form method="post" action="personal">
<div class="container-fluid">
    <div class="row content">

        <div class="col-sm-6">

            <!--Add text-->
            <center><h2>My Dating Website</h2></center>
            <p>Welcome to the web's most successful dating website. At <strong>My dating Website </strong>
                you'll meet another like minded individuals. We have the highest success rate of
                couples on the web. User's are matched by interest and location. Find out why
                so many others have found love on our site!</p>
            <br><br>

            <center><h4>Hear what our users saying about us.</h4></center>
            <hr>
            <center>
                <p><i>"I met the love of my life after only a month!" -Andrea</i></p><br>
                <p><i>"It was so easy to set up and profile and start meeting people.
                    I didn't realize how many others were looking for love in my area." -John Smith</i></p><br>
                <p><i>"Just try it! You'll never be the same!" -Sarah</i></p>
            </center>
            <hr>

            <!--Add a button-->
            <center><button type="submit" class="btn btn-primary">Create A Profile!</button></center>
        </div>

        <!--Add an image-->
        <div class="col-sm-6 sidenav">
            <img class="home" src="images/dating1.jpg" alt="dating1" width="600" height="100%">
        </div>

    </div>
</div>
</form>
</body>
</html>
