<!DOCTYPE html>
<html lang="en">
<head>
     <title>Dating Website</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

        <link rel="stylesheet" href="styles/style.css">
</head>
<body>

       <h3>My Dating Website <a href="admin">Admin</a></h3>

<form action="#" method="post">
       <div class="container-fluid">
        <div class="row content">
            <div class="col-sm-12">
                <h1>Personal Information</h1>
                <hr>
            </div>
            <div class="col-sm-9">
            <!--First name-->
                <div class="form-group">
                    <label><strong>First Name</strong> </label>
                        <input class="form-control" id="first" type="text" name="first" value="{{ @first }}">
                        <check if="{{ @errors['first'] }}">
                            <span class="err">{{ @errors['first'] }}</span>
                        </check>

                </div>
            <!--Last name-->
                <div class="form-group">
                    <label><strong>Last Name</strong></label>
                        <input class="form-control" id="last" type="text" name="last" value="{{ @last }}">
                        <check if="{{ @errors['last'] }}">
                            <span class="err">{{ @errors['last'] }}</span>
                        </check>

                </div>

                <div class="form-group">
             <!--Age-->
                    <label><strong>Age</strong></label>
                        <input class="form-control" id="age" type="text" name="age" value="{{ @age }}">
                        <check if="{{ @errors['age'] }}">
                            <span class="err">{{ @errors['age'] }}</span>
                        </check>
                        </check>

                </div>
            </div>

            <!--Note box-->
            <div class="col-sm-3">
                    <p class="note"><strong>Note:</strong> All information entered is protected
                        by our <a href="privacy">privacy policy</a>. Profile information can only be viewed by others
                        with your permission.</p>
            </div>
        </div>

        <!--Gender-->
        <div id="radioButton" class="row">
            <div class="col-sm-12">
                <p class="noBottomMargin"><strong>Gender</strong>(Optional)</p>
            </div>
            <div class="col-sm-3">
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="gender" value="Male">
                        <check if="{{@gender === 'Male'}}"></check> Male
                    </label>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="gender" value="Female">
                        <check if="{{@gender === 'Female'}}"></check>Female
                    </label>
                </div>
            </div>
        </div>
        <!--Phone-->
        <div class="row">
            <div class="col-sm-9">
                <div class="form-group">
                    <br><label><strong>Phone Number</strong></label>
                        <input type="text" class="form-control" name="phone" value="{{@phone}}">
                        <check if="{{ @errors['phone'] }}">
                            <span class="err">{{ @errors['phone'] }}</span>
                        </check>

                </div>
            </div>
        </div>
        <!--Premium-->
        <div class="row">
            <div class="col-sm-12">
                <label><strong>Premium Membership</strong></label>
            </div>
            <div class="col-sm-9">
                <div class="form-check">
                    <label class="form-check-label"></label>
                        <input class="form-check-input" type="checkbox" name="membership" value="premium"
                        <check if="{{@membership === 'premium'}}">checked</check>>
                         Sign me up for a Premium Account!
                </div>
            </div>
        </div>


        <div class="row">
            <!--Add a button-->
             <div class="bottom">
                 <button type="submit" class="btn btn-primary" align="right">Next ></button>
             </div>
        </div>
    </div>
</form>

</body>
</html>