/*
<!--
Trang Luu
14 Apil 2019
Dating Website/ CSS style
-->
*/

.container-fluid {
    border-radius: 5px;
    border: 2px solid #D3D3D3;
    padding: 30px;
    margin: 20px;

}
h3 {
    background-color: #D3D3D3;
    padding: 20px;
    margin: 0px;
}
img.home {
    border-radius: 5px;
    width:100%;
    height:600px;
}

.note {
    border-radius: 5px;
    border: 2px solid #aaaaaa;
    padding: 20px;
    margin: 20px;
    background-color: #D3D3D3;
    text-align: center;
}

.bottom {
    text-align: right;
    margin: 20px;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.nav-text {
    margin-bottom: 0;
    padding-bottom: 0;
}



